// Modules :: Arrow

.arrow-down {
  @include triangle(40px, $color-primary, down);
}

.arrow-scroll-down {
  position: absolute;
  bottom: 0;
  margin-bottom: $gutter;
  left: 50%;
  @include transform(translateX(-50%) scale(0.5));
}

@include breakpoint-tablet() {
  .arrow-scroll-down {
    @include transform(translateX(-50%) scale(0.7));
    margin-bottom: $gutter-double;
  }
}

@include breakpoint-desktop() {
  .arrow-scroll-down {
    @include transform(translateX(-50%) scale(1));
  }
}

.arrow-down-circle {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid $color-blue;
  border-radius: 50%;
  text-align:center;
}

.arrow-down-circle:after {
  content: '';
  display: inline-block;
  margin-top: 0.6rem;
  width: 1.4rem;
  height: 1.4rem;
  border-top: 0.5rem solid $color-blue;
  border-right: 0.5rem solid $color-blue;
  @include transform(rotate(135deg));
}

.arrow-down-circle:hover {
  border-color: $color-red;
  cursor: pointer;
}

.arrow-down-circle:hover:after {
  border-color: $color-red;
}