// Modules :: Logo

.logo {
  width: $logo-size-phone;
}

@include breakpoint-tablet() {
  .logo {
    width: $logo-size-tablet;
  }
}

@include breakpoint-desktop() {
  .logo {
    width: $logo-size-desktop;
  }
}