@include breakpoint-tablet() {
  .message p,
  .message-footer {
    font-size: $font-size-h4;
  }
}

.message-header {
  font-weight: 700;
}

.message-footer {
  float: right;
  span {
    display: block;
  }
  a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: $color-mid-grey;
  }
  a:hover {
    color: $color-blue;
  }
}