// Modules :: Slide
.slide {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: $gutter;
  background-color: $color-primary;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.slide-light {
  background-color: $color-white;
}


.slide-title {
  font-size: $font-size-h3;
  font-weight: 400;
  text-align: center;
  padding: $gutter;
}

@include breakpoint-tablet() {
  .slide-title {
    font-size: $font-size-h2;
  }
}

@include breakpoint-desktop() {
  .slide-title {
    font-size: $font-size-h1;
  }
}