// Variables :: Colours
$color-emerald: #2ecc71;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f42727;
$color-blue: #386cff;
$color-light-grey: #ccc;
$color-dark-grey: #333;

$color-primary: $color-emerald;

